.box {
    height: 250px;
    width: 100px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(255, 115, 0);
}
.content {
    color: red;
}

.newClass {
     background-color: green;
}
div{
    height: 100px;
    width: 100px;
    background-color: darkcyan;
    color: rgb(0, 0, 0);
    border: 1px solid black;
}

.dark {
        background-color: black;
        color: white;
}

.light {
          background-color: white;
          color: black;
}